<h1 class="page-name">{{ pageName }}</h1>

<section>
  <div class="card-container">
    @for (member of members(); track member.id) {
      <app-card>
        <!-- Profile -->
        <div class="flex justify-between">
          <app-profile-info [user]="member"></app-profile-info>
          <div class="flex gap-2">
            <button [routerLink]="['edit']" class="btn-icon">
              <svg lucideSquarePen [size]="20" [strokeWidth]="1"></svg>
            </button>
            <button (click)="openModal('Team Alpha')" class="btn-icon">
              <svg lucideTrash [size]="20" [strokeWidth]="1"></svg>
            </button>
          </div>
        </div>

        <!-- Teams -->
        <h4 class="title">Teams:</h4>
        <div>
          @for (team of member.teams; track $index) {
            <a>{{ team }}</a>
          }
        </div>

        <!-- Projects -->
        <h4 class="title">Projects:</h4>
        <div>
          @for (project of member.projects; track $index) {
            <a>{{ project }}</a>
          }
        </div>

        <div class="mt-3">
          <app-view-details-button></app-view-details-button>
        </div>
      </app-card>
    }
  </div>
</section>

<app-confirm-modal
  [isOpen]="isModalOpen()"
  [itemName]="selectedName()"
  (confirm)="handleConfirm()"
  (cancel)="closeModal()"
></app-confirm-modal>
