@if (apiError()) {
  <app-api-error [error]="apiError()" (onRetry)="handleRetry()"></app-api-error>
} @else {
  <div class="head-container">
    <h1 class="">{{ pageName }}</h1>
    <app-add-button [routerLink]="['add']" label="Member"></app-add-button>
  </div>

  <section>
    <div class="card-container">
      @for (member of members(); track member.id) {
        <app-card>
          <!-- Profile -->
          <div class="flex justify-between">
            <app-profile-info [user]="member"></app-profile-info>
            <div class="flex gap-2 h-9">
              <button [routerLink]="['edit', member.id]" class="btn-icon">
                <svg lucideSquarePen [size]="20" [strokeWidth]="1"></svg>
              </button>
              <button (click)="openModal(member)" class="btn-icon">
                <svg lucideTrash [size]="20" [strokeWidth]="1"></svg>
              </button>
            </div>
          </div>

          <!-- Teams -->
          <h4 class="title">Teams:</h4>
          <div>
            @for (team of member.teams; track $index) {
              <button [routerLink]="['/teams/view-details', team.id]" class="name-btn">
                {{ team.name }}
              </button>
              <a></a>
            }
          </div>

          <!-- Projects -->
          <h4 class="title">Projects:</h4>
          <div>
            @for (project of member.projects; track $index) {
              <button [routerLink]="['/projects/view-details', project.id]" class="name-btn">
                {{ project.name }}
              </button>
              <a></a>
            }
          </div>

          <div class="mt-3">
            <app-view-details-button
              [routerLink]="['view-details', member.id]"
            ></app-view-details-button>
          </div>
        </app-card>
      }
    </div>
  </section>

  <app-confirm-modal
    [isOpen]="isModalOpen()"
    [itemName]="selectedName()"
    (confirm)="handleConfirm()"
    (cancel)="closeModal()"
  ></app-confirm-modal>
}
