<form class="form-container" (submit)="submit(); $event.preventDefault()">
  <div class="option-container">
    <label for="">Team name</label>
    <input type="text" name="" id="" class="input form-input" />
  </div>

  <div class="option-container">
    <label>Lead</label>
    <select [value]="lead()" (change)="setLead($any($event.target).value)" class="input form-input">
      <option value="">Select Lead</option>
      @for (l of leads(); track l.id) {
        <option [value]="l.id">{{ l.name }}</option>
      }
    </select>
  </div>

  <div class="flex gap-4 w-full h-40">
    <div class="selection option-container">
      <label class="label">Projects</label>
      <app-multi-select
        [options]="projectList()"
        [selected]="projects()"
        (selectedChange)="projects.set($event)"
      ></app-multi-select>
    </div>

    <div class="selection option-container">
      <label class="label">Members</label>
      <app-multi-select
        [options]="memberList()"
        [selected]="members()"
        (selectedChange)="members.set($event)"
      ></app-multi-select>
    </div>
  </div>

  <div class="text-center">
    <button class="btn-submit" type="submit">Submit</button>
  </div>
</form>
