<div class="bg-white shadow-lg p-6 h-full">
  <h2 class="text-2xl font-bold m-2 p-2">Ajentica Team</h2>
  <nav class="flex flex-col gap-2 text-lg m-2">
    <a class="text-gray-700 hover:rounded-lg hover:bg-gray-200 cursor-pointer p-2">Dashboard</a>
    <a class="text-gray-700 hover:rounded-lg hover:bg-gray-200 cursor-pointer p-2">Teams</a>
    <a class="text-gray-700 hover:rounded-lg hover:bg-gray-200 cursor-pointer p-2">Members</a>
    <a class="text-gray-700 hover:rounded-lg hover:bg-gray-200 cursor-pointer p-2">Projects</a>
  </nav>
</div>
